.detail-container{
    width: 300px;
    background-color: rgb(98,174,200);
    margin: 40px auto 50px auto;
    padding-bottom: 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    @media all and (min-width:768px) {
        flex-direction: row;
        width: 600px;
        padding-bottom: 0px;
        margin-bottom: 150px;
    }
}
.app__back{
    position: absolute;
    right: 0;
    top:-25px;
    text-decoration: none;
    color:white;
}
.detail-img-container{
    margin: 20px;
}
.detail-img{
    width: 250px;
    border-radius: 10px;
    @media all and (min-width:768px) {
        width: 300px;
    }
}
.hidden{
    display: none;
}
.detail-li{
    list-style: none;
}