.App-input-container{
    text-align: center;
    margin-bottom: 20px;
}

.App-input{
    width: 300px ;
    height: 30px;
    background-color: black;
    border:solid 1px rgb(98,174,200);
    color:white;
}