*{
    margin: 0;
    padding: 0;
    font-family: 'Crimson Text', serif;

}
.App {
    background-color:black;
    height: 100%;
    color: white;
    font-size: 15px;
}
.App-header{
    margin: auto 0px auto 0px ;
}

.App-main-all{
width: 100vw;
background-color: black
}
.App-title {
    background-image: url('https://help.redbubble.com/hc/article_attachments/360002309526/Rick_and_Morty_-_logo__English_.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height:1px;
    padding-top:150px;
    overflow:hidden;
    margin: 0px auto 20px auto ;
    width: 300px;
    @media all and (min-width:768px) {
        width:400px; 
    }
  }

.App-main{
    margin: 0px auto 0px auto ;
}







